$gutter: 0.2rem;
$max-content-width: 20rem;

$brand-white: #fff;
$brand-green: #459300;
$brand-grey: #545551;
$brand-light-grey: #777973;

$text-shadow: #050505 0 -1px 0;

$background-button: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a4d04a), to(#459300));
